.textarea1{
    resize: none;
    height: 300px;
    width: 75%;
    margin-top: 45px;
}

.connexionphp{
    background-color: rgba(128, 128, 128, 0.096);
    border-radius: 24px;
    border: 2px solid rgba(0, 0, 0, 0.69);
    padding-bottom: 15px;
    border-radius: 3% 20%;
    height: auto;
}
.forumAZERTY{
    margin-bottom: 45px;
}
.sectionFichier1{
    background-color: gainsboro;
    width: auto;
    height: auto;
    border: rgba(0, 0, 0, 0.69) solid;
    cursor: pointer;
    color: rgb(0, 129, 146);
    font-weight: bold;
}