body{
    background-color: #424242;
}
nav .brand-logo{
    left: 45px;
}
.pays{
    margin-left: 45px;
    margin-bottom: 0;
}
nav ul li .panier{
    text-align: center;
    .caddy{
        font-size: 45px;
    }
}
.img_header img{
    // position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    top: 25%;
}

















@media screen and (max-width: 992px){
    nav .brand-logo{
        padding-left: 70%;
        font-size: 1.5rem;
    }
}